@import "~antd/dist/antd.less";

@primary-color: #1890ff; // primary color for all components
@link-color: #1890ff; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 14px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 2px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

// major shadow for layers
.mertImage {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  transition-duration: 0.3s;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: box-shadow;
  box-sizing: border-box;
  box-shadow: 0 0 0 3px #188fff6c, 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden !important;
}

.mertImage:hover {
  box-shadow: 0 0 0 3px #2098d1, 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
}

.vertical_dotted_line {
  margin-left: 2rem;
  border-left: 1px dotted black;
  height: 1rem;
}

.userProfileContainer {
  width: 100%;
  display: flex;
  align-items: start;
  position: relative;
  justify-content: center;
  margin-top: -1rem;
  border-left: 0.5px solid #74bbff;
  border-right: 0.5px solid #74bbff;
  background-color: white;
}
.noMerts {
  width: 100%;
  height: 100%;
  margin: 2rem 0;
}

.noMertsSvg {
  width: 100%;
  height: 24rem;
  text-align: center;
}

.fullWidth {
  width: 100%;
}

.userInfoCard {
  position: absolute;
  left: -20rem;
}

.configContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formConfigContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imagesConfig {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.auto {
  margin: auto;
}

.signUpAvatar {
  width: 10%;
  margin: 1rem auto;
}

aside.emoji-picker-react {
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 200px !important;
  width: 100% !important;
  font-family: sans-serif;
  border: 1px solid #efefef;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 5px 10px #efefef;
  overflow: hidden;
  position: relative;
}

.loginLogoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.loginLogo {
  font-size: 8rem;
  color: black;
  margin-left: 7rem;
}
.loginTitle {
  color: black;

  font-style: italic;

  margin-top: 5.4rem;

  margin-left: -1rem;
}
