@import "~antd/dist/antd.less";

@layout-header-height: 3rem;
@menu-bg: #ffffff;
@layout-header-background: #ffffff;
@primary-color: #000000; // primary color for all components
@link-color: #7a848d; // link color
@success-color: #3c771e; // success state color
@warning-color: #b88727; // warning state color
@error-color: #b62f36; // error state color
@font-size-base: 12px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 2px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05); // major shadow for layers
